* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: hsl(30, 38%, 92%);
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

    width: 45%;
    height: 70vh;

    display: flex;
    border-radius: 1.5rem;
    overflow: hidden;
}

.image {
    height: 100%;
    width: 50%;
    background-image: url("images/image-product-desktop.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 3.2rem 3.2rem;
    background-color: #fff;

    width: 50%;
    gap: 3rem;
}

.content__start {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    letter-spacing: 0.35rem;
}

.content__title {
    font-family: 'Fraunces', serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}

.content__description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: hsl(228, 12%, 48%);
    line-height: 2.2rem;
}

.content__price {
    font-family: 'Fraunces', serif;
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.content__price p:first-child {
    font-size: 3.2rem;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

.content__price p:last-child {
    font-size: 1.6rem;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    text-decoration-thickness: 0.1rem;
}

.content__button:link,
.content__button:visited {
    background-color: hsl(158, 36%, 37%);
    padding: 1.4rem 2.8rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
    color:#fff;
    font-size: 2rem;
    font-weight: 500;

    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.content__button:hover,
.content__button:active {
    background-color: hsl(158, 40%, 24%);
    
}
